<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item detail color="dark" *ngFor="let lista of listas">
      <ion-label>
        {{lista.titulo}}
      </ion-label>
    </ion-item>

    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary"
                      (click)="agregarLista()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
 
    
</ion-content>
